{% extends "home.html" %}
{% block content %}
<h2>Pasajeros</h2>
<a href="{% url 'crear_pasajero' %}" class="btn btn-primary mb-3">Crear Pasajero</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>RUT</th>
        </tr>
    </thead>
    <tbody>
        {% for pasajero in pasajeros %}
        <tr>
            <td>{{ pasajero.nombre }}</td>
            <td>{{ pasajero.rut }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="2" class="text-center">No hay pasajeros registrados.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}